
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Restaurants</h2>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <%= link_to restaurant.name, restaurant_path(restaurant) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning my-3"><%= link_to "Add new Restaurant", new_restaurant_path %></button>
    </div>
  </div>
</div>
